.post{
    background-color: white;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 7px -7px rgba(0,0,0,0.75);
}
hr{
    margin: 10px 20px;
}
.post__image{
    width: 100%;
    cursor: pointer;
}
.post__top{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.post__top>p{
    margin-bottom: 10px;
}
.post__top__box{
    display: flex;
    justify-content: space-between;
}
.post__top__icon{
    margin: 10px;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer
}
.post__top__icon:hover{
    background-color: #f1f2f5;
}
.post__top__avatar{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
}
.post__top__avatar__details{
    margin-left: 20px;
}
.post__top__avatar__details>p{
    color: gray;
}
.post__bottom{
    display: flex;
    flex-direction: column;
}
.post__bottom__likes{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.post__bottom__likes__right{
    margin-right: 20px;
    display: flex;
}
.post__bottom__likes__right>p{
    margin-left: 10px;
    color: gray;
}
.post__bottom__likes__left>p{
    margin-left: 10px;
    color: gray;
}
.post__bottom__likes__left{
    display: flex;
    margin-left: 20px;
}
.post__bottom__likes__left1{
    color: white;
    border-radius: 100px;
    background-color:#2e81f4;
    padding: 3px;
}
.post__bottom__likes__left2{
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 100px;
}
.post__bottom__icons{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
}
.post__bottom__icons1{
    display: flex;
    cursor: pointer;
    padding: 10px;
}
.post__bottom__icons1:hover{
    border-radius: 10px;
    background-color:#f1f2f5; 
    
}
.post__bottom__icons1>p{
    margin-left: 10px;
    color: rgb(85, 85, 85);
}
.post__bottom__icons1>.MuiSvgIcon-root{
    color: gray;
}